.sidebar__option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__option:hover {
  background: #e8f5fe;
  border-radius: 30px;
  color: var(--twitterColor);
  transition: color 0.1s ease-out;
}

.sidebar__option > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebar__option h2 {
  font-weight: 800;
  margin-right: 20px;
  font-size: 20px;
}

.sidebar__option--active {
  color: var(--twitterColor);
}
